  <div class="projects__title">
    <span>All Projects</span>
  </div>
  <table class="table projects__table">
    <thead>
    <tr>
      <th>ID</th><th>Title</th><th>Description</th><th></th>
    </tr>
    </thead>
    <tr *ngFor="let item of projects">
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.description}}</td>
      <td class="text-center">
        <div class="projects__table--controls">
          <project-delete-control
            (deleteProject)="deleteProject(item.id)"
            [editProject]="item"
          >
          </project-delete-control>
          <project-edit-control [editProject]="item">
          </project-edit-control>
        </div>
      </td>
    </tr>
  </table>
