@import '~src/styles/pallete';
@import '~src/styles/_mixins';

.login__form-group {
  input::placeholder {
    color: $color-placeholder;
  }
}

.project__form-group {
  &::ng-deep {
    & .tooltip-inner {
      background-color: $color-danger !important;
    }
    & .arrow::before {
      border-top-color: $color-danger !important;
    }
    & .ng-dirty.ng-invalid{
      border-color: $color-danger-border;
      &.form-control:focus {
        box-shadow: 0 0 0 0.2rem $color-danger-border;
      }
    }
  }
  input::placeholder, textarea::placeholder {
    color: $color-placeholder;
  }
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  @include card;
}

.profile-img-card {
  @include profile-img-card;
}

.project__description--field {
  height: 150px;
}

.project__edition {
  display: inline-flex;
  & .project__edition--button {
    position: relative;
    display: inline-block;
    margin: 5px;
  }
}

.project__title {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
  font-family: serif;
  &--heading {
    font-style: initial;
    font-weight: 600;
  }
}

.project__error-icon {
  @include error-icon;
  &--email--not-unique {
    border-color: $color-danger-border;
    &.form-control:focus {
      box-shadow: 0 0 0 0.2rem $color-danger-border;
    }
  }
}
