<div class="project__title">
  <span *ngIf="!editOperation">Add Project</span>
  <span *ngIf="editOperation">Edit Project
    <span class="project__title--heading">"{{editProject?.title}}"</span>
  </span>
</div>

<app-project-menu
  (menuItem)="navigate($event)"
  [editOperation]="editOperation"
  [userNotAdmin]="userNotAdmin"
>
</app-project-menu>
<ng-container *ngIf="menuItem === EProjectMenuItem.GENERAL">
  <div class="col-md-12">
    <div class="card card-container">
      <form [formGroup]="projectsForm" class="project__form-group" (keydown)="onKeydown($event)" >
        <div class="form-group">
          <input class="input form-control" placeholder="Title" formControlName="title" />
          <fa-icon
            class="project__error-icon"
            [icon]="faExclamationTriangle"
            [ngbTooltip]="titleErrorMessage"
            *ngIf="showTitleErrorIcon"
          ></fa-icon>
        </div>
        <div class="form-group">
          <textarea type="text" class="input form-control project__description--field" placeholder="Description" formControlName="description"></textarea>
          <fa-icon
            class="project__error-icon"
            [icon]="faExclamationTriangle"
            [ngbTooltip]="descriptionErrorMessage"
            *ngIf="showDescriptionErrorIcon"
          ></fa-icon>
        </div>
      </form>
      <div class="form-group" *ngIf="!editOperation">
        <button class="btn btn-primary btn-block"
                [class.button-disable]="disableSubmitButton"
                [disabled]="disableSubmitButton"
                (click)="saveProject()"
        >
          Add Project
        </button>
      </div>
      <div class="form-group project__edition" *ngIf="editOperation">
        <button class="btn btn-secondary btn-block project__edition--button"
                [disabled]="false"
                (click)="cancel()"
        >
          Cancel
        </button>
        <button class="btn btn-primary btn-block project__edition--button"
                [class.button-disable]="disableSubmitButton"
                [disabled]="disableSubmitButton"
                (click)="onEditProject()"
        >
          Edit Project
        </button>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="menuItem === EProjectMenuItem.RIGHTS">
  <app-project-rights [projectId]="editProject.id"></app-project-rights>
</ng-container>
