<ul class="project__menu nav nav-tabs nav-tabs-page">
  <li *ngFor="let item of menu"
      class="project__menu--item"
      [class.project__menu--item-active]="item.active"
      [class.project__menu--item-disable]="item.disable"
      (click)="onClick(item)">
    {{item.title}}
  </li>
</ul>
