@import '~src/styles/pallete';

.project__menu {
  margin-top: 15px;
  &--item {
    cursor: pointer;
    margin-left: 40px;
    &:hover {
      border-bottom: 3px solid $grey-400;
    }
    &-disable {
      color: $grey-500;
      cursor: not-allowed;
    }
    &.project__menu--item-active {
      border-bottom: 3px solid $grey-800;
    }
  }
}
