<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isLogged">
        <a href="/project" class="nav-link" routerLink="project">Add Project</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a href="/projects" class="nav-link" routerLink="projects">Show Projects</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLogged">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLogged">
      <li class="nav-item nav-link person-data">
        <div>{{userEmail}}</div>
        <div>{{userName}}</div>

      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>

  </nav>


  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
