<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form [formGroup]="userForm" class="register__form-group" (keyup.enter)="saveUser()">
      <div class="form-group">
        <input class="input form-control" placeholder="First Name" formControlName="firstName" />
      </div>
      <div class="form-group">
        <input class="input form-control" placeholder="Last Name" formControlName="lastName" />
      </div>
      <div class="form-group error">
        <input class="input form-control"
               placeholder="email"
               formControlName="email"
               [class.register__error-icon--email--not-unique]="notUniqueEmail === emailControl.value"
        />
        <fa-icon
          class="register__error-icon"
          [icon]="faExclamationTriangle"
          [ngbTooltip]="emailErrorMessage"
          *ngIf="showEmailErrorIcon"
        ></fa-icon>
      </div>
      <div class="form-group">
        <input type="password" class="input form-control" placeholder="Password" formControlName="password" />
        <fa-icon
          class="register__error-icon"
          [icon]="faExclamationTriangle"
          [ngbTooltip]="passwordErrorMessage"
          *ngIf="showPasswordErrorIcon"
        ></fa-icon>
      </div>
    </form>
          <div class="form-group">
            <button class="btn btn-primary btn-block"
                    [class.button-disable]="disableSubmitButton"
                    [disabled]="disableSubmitButton"
                    (click)="saveUser()"
            >
              Sign Up
            </button>
          </div>
  </div>
</div>
