<div [formGroup]="radioForm" class="radio-button" >
    <input formControlName="right" [value]="EProjectRight.ADMIN" type="radio"/>
    <input formControlName="right" [value]="EProjectRight.WRITE" type="radio"/>
    <input formControlName="right" [value]="EProjectRight.READ" type="radio"/>
    <input formControlName="right" [value]="EProjectRight.BAN" type="radio"/>
</div>
