<div>
  <table class="table project-rights__table">
    <thead>
    <tr>
      <th>Name</th><th  class="text-center">
        <div  class="project-rights__table--head">
          <div class="project-rights__table--head--item">ADMIN</div>
          <div class="project-rights__table--head--item">WRITE</div>
          <div class="project-rights__table--head--item">READ </div>
          <div class="project-rights__table--head--item">BAN  </div>
        </div>
    </th>
    </tr>
    </thead>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td class="text-center">
        <div>
          <form [formGroup]="projectRightForm">
            <app-radio-button formControlName="right" [user]="user"></app-radio-button>
          </form>
        </div>
      </td>
    </tr>
  </table>
  <div class="form-group project-rights__operation">
    <button class="btn btn-secondary btn-block project-rights__operation--button"
            [disabled]="false"
            (click)="cancel()"
    >
      Cancel
    </button>
    <button class="btn btn-primary btn-block project-rights__operation--button float-right"
            [disabled]="false"
            (click)="onEditRights()"
    >
      Edit Project
    </button>
  </div>
</div>

