.project-rights {
  &__operation {
    display: flex;
    justify-content: flex-end;
    &--button {
      margin: 5px;
      width: 200px;
    }
  }
  &__table--head {
    display: flex;
    justify-content: space-around;
    &--item {
      width: 50px;
    }
  }
}
