@import '~src/styles/pallete';
@import '~src/styles/mixins';

.projects__edit-control {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  &--icon {
    color: $grey-400;
    &:hover {
      color: $green-800;
    }
    &--forbid {
      &:hover {
        color: $grey-600;
      }
    }
  }
}

:host::ng-deep {
  & .projects__edit-control--forbid {
    @include forbidden-icon;
  }
  & .tooltip-inner {
    background-color: $green-800;
  }
  & .arrow::before {
    border-top-color: $green-800;
  }
}
