<div class="projects__edit-control"
     [class.projects__edit-control--forbid]="banEdit"
>
  <a  *ngIf="!banEdit" [routerLink]="['/projects/edit']" [queryParams]="{ id: editProject.id }" queryParamsHandling="merge">
    <ng-container *ngTemplateOutlet="editButton"></ng-container>
  </a>
  <a  *ngIf="banEdit">
    <ng-container *ngTemplateOutlet="editButton"></ng-container>
  </a>
</div>
<ng-template #editButton>
            <fa-icon
              class="projects__edit-control--icon"
              [class.projects__edit-control--icon--forbid]="banEdit"
              [icon]="faEdit"
              size="xs"
              [ngbTooltip]="tooltipMessage"
              *ngIf="true"
            ></fa-icon>
</ng-template>
