<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <div class="alert alert-warning" *ngIf="!isLogged">
      Invalid email or password!
    </div>

    <form [formGroup]="loginForm" class="login__form-group" (keyup.enter)="login()">
      <div class="form-group">
        <input class="input form-control" placeholder="email" formControlName="email" />
        <fa-icon
          class="login__error-icon"
          [icon]="faExclamationTriangle"
          [ngbTooltip]="notValidEmailMessage"
          *ngIf="showEmailErrorIcon"
        ></fa-icon>

      </div>
      <div class="form-group">
        <input type="password" class="input form-control" placeholder="Password" formControlName="password" />
        <fa-icon
          class="login__error-icon"
          [icon]="faExclamationTriangle"
          [ngbTooltip]="passwordErrorMessage"
          *ngIf="showPasswordErrorIcon"
        ></fa-icon>
      </div>
    </form>
    <div class="form-group">
      <button class="btn btn-primary btn-block"
              [class.button-disable]="disableSubmitButton"
              [disabled]="disableSubmitButton"
              (click)="login()"
      >
        Sign Up
      </button>
    </div>
  </div>
</div>
