@import '~src/styles/pallete';
@import '~src/styles/_mixins';

.login__form-group {
  &::ng-deep {
    & .tooltip-inner {
      background-color: $color-danger !important;
    }
    & .arrow::before {
      border-top-color: $color-danger !important;
    }
    & .ng-dirty.ng-invalid{
      border-color: $color-danger-border;
      &.form-control:focus {
        box-shadow: 0 0 0 0.2rem $color-danger-border;
      }
    }
  }
  input::placeholder {
    color: $color-placeholder;
  }
}

.login__error-icon {
  @include error-icon;
  &--email--not-unique {
    border-color: $color-danger-border;
    &.form-control:focus {
      box-shadow: 0 0 0 0.2rem $color-danger-border;
    }
  }
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  @include card;
  @include color-card;
}

.profile-img-card {
  @include profile-img-card
}
