@import './pallete';

@mixin card {
  padding: 20px 25px 30px;
  margin: 50px auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

@mixin color-card {
  background-color: $grey-100;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

@mixin profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@mixin error-icon {
  position: relative;
  bottom: 30px;
  float: right;
  right: 10px;
  color: $color-danger;
}

@mixin forbidden-icon {
  & .tooltip-inner {
    width: 100px;
    background-color: $grey-600 !important;
  }
  & .arrow::before {
    border-top-color: $grey-600 !important;
  }
}
